{{>header}}

{{>nav}}




<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-md-12 d-flex justify-content-end">
                    <div class="doc-badge me-3">Doctors <span class="ms-1">{{Doctorlist.length}}</span></div>
                    <div class="SortBy">
                        <div class="selectBoxes order-by">
                            <p class="mb-0"><img src="/assets/img/icon/sort.png" class="me-2" alt="icon"> Order by </p>
                            <span class="down-icon"><i class="feather-chevron-down"></i></span>
                        </div>
                        <div id="checkBox">
                            <form action="doctor-list.html">
                                <p class="lab-title">Specialities</p>
                                <label class="custom_radio w-100">
                                    <input type="radio" name="year">
                                    <span class="checkmark"></span> Number of Appointment
                                </label>
                                <label class="custom_radio w-100">
                                    <input type="radio" name="year">
                                    <span class="checkmark"></span> Total Income
                                </label>
                                <label class="custom_radio w-100 mb-4">
                                    <input type="radio" name="year">
                                    <span class="checkmark"></span> Ratings
                                </label>
                                <p class="lab-title">Sort By</p>
                                <label class="custom_radio w-100">
                                    <input type="radio" name="sort">
                                    <span class="checkmark"></span> Ascending
                                </label>
                                <label class="custom_radio w-100 mb-4">
                                    <input type="radio" name="sort">
                                    <span class="checkmark"></span> Descending
                                </label>
                                <button type="submit" class="btn w-100 btn-primary">Apply</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="card-title">Doctors</h5>
                            </div>
                            <div class="col-auto d-flex flex-wrap">
                                <div class="form-custom me-2">
                                    <div id="tableSearch" class="dataTables_wrapper"></div>
                                </div>
                                <div class="multipleSelection">
                                    <div class="selectBox">
                                        <p class="mb-0 me-2"><i class="feather-filter me-1"></i> Filter By Speciality
                                        </p>
                                        <span class="down-icon"><i class="feather-chevron-down"></i></span>
                                    </div>
                                    <div id="checkBoxes">
                                        <form action="doctor-list.html">
                                            <p class="lab-title">Specialities</p>
                                            <div class="selectBox-cont">
                                                <label class="custom_check w-100">
                                                    <input type="checkbox" name="year" checked>
                                                    <span class="checkmark"></span> Urology
                                                </label>
                                                <label class="custom_check w-100">
                                                    <input type="checkbox" name="year">
                                                    <span class="checkmark"></span> Neurology
                                                </label>
                                                <label class="custom_check w-100">
                                                    <input type="checkbox" name="year">
                                                    <span class="checkmark"></span> Orthopedic
                                                </label>
                                                <label class="custom_check w-100">
                                                    <input type="checkbox" name="year">
                                                    <span class="checkmark"></span> Cardiologist
                                                </label>
                                                <label class="custom_check w-100">
                                                    <input type="checkbox" name="year">
                                                    <span class="checkmark"></span> Dentist
                                                </label>
                                                <label class="custom_check w-100">
                                                    <input type="checkbox" name="year">
                                                    <span class="checkmark"></span> Gynacologist
                                                </label>
                                                <label class="custom_check w-100">
                                                    <input type="checkbox" name="year">
                                                    <span class="checkmark"></span> Pediatrist
                                                </label>
                                                <label class="custom_check w-100">
                                                    <input type="checkbox" name="year">
                                                    <span class="checkmark"></span> Orthopedic
                                                </label>
                                            </div>
                                            <button type="submit" class="btn w-100 btn-primary">Apply</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="datatable table table-borderless hover-table" id="data-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Doctor</th>
                                        <th>Specialities</th>
                                        <th>Member Since</th>
                                        <th>Number of Appointments</th>
                                        <th>Total Income</th>
                                        <th>Account Status</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each Doctorlist}}
                                        {{!-- single doctor --}}
                                        <tr>
                                            <td>#{{this.DocNurID}}</td>
                                            <td>
                                                <h2 class="table-avatar">
                                                   
                                                    
                                                        <img class="avatar avatar-img avatar-pos pr-2"
                                                            src="{{this.Photo}}" onerror="this.onerror=null; this.src='/assets/img/default.jpg'" alt="User Image">
                                                    <a href="#" data-bs-target="#doctorlist" data-bs-toggle="modal" 
                                                        data-doctorname="{{this.FirstName}} {{this.LastName}}"
                                                        data-phonenumber="{{this.PhoneNumber}}"
                                                        data-docnurid="{{this.DocNurID}}"
                                                        data-photo="{{this.Photo}}"
                                                        data-gender="{{this.Gender}}"
                                                        data-address="{{this.PrimaryAddress}}"
                                                        data-about="{{this.about}}"
                                                        data-numberofrating="{{this.NumberOfRating}}"
                                                        data-feehome="{{this.Home}}"
                                                        data-feeonline="{{this.Online}}"
                                                        data-departmentid="{{this.Department}}"
                                                        data-averagerating="{{this.averageRating}}"
                                                        data-dateofbirth="{{this.DateOfBirth}}"
                                                        data-createddate="{{this.created_date}}"
                                                        
                                                        class="user-name singledoctor">Dr.{{this.FirstName}} {{this.LastName}}</a>
                                                </h2>
                                            </td>
                                            <style>
                                                td.docDepartment img {
                                                    width: 33px;
                                                }
                                            </style>
                                            <td class="docDepartment">{{departmentNameDisplay ../Departmentlist this.Department }}</td>
                                            <td><span class="user-name">{{this.created_date}} </span><span
                                                    class="d-block"></span></td>
                                            <td>{{this.NumberOfAppointments}}</td>
                                            <td>$300.00</td>
                                            <td>
                                                <label class="toggle-switch" for="status1{{@index}}">
                                                    <input type="checkbox" class="toggle-switch-input" id="status1{{@index}}">
                                                    <span class="toggle-switch-label">
                                                        <span class="toggle-switch-indicator"></span>
                                                    </span>
                                                </label>
                                            </td>
                                        </tr>
                                    {{/each }}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tablepagination" class="dataTables_wrapper"></div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade contentmodal" id="doctorlist" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header justify-content-center border-bottom-0">
                <h4 class="modal-title">Doctor Details</h4>
                <button type="button" class="close-btn pos-top" data-bs-dismiss="modal" aria-label="Close"><i
                        class="feather-x-circle"></i></button>
            </div>
            <div class="modal-body doctor-profile-modal-body">
               
                   
            </div>
        </div>
    </div>
</div>


    <div class="modal fade contentmodal" id="editModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content doctor-profile">
                <div class="modal-header">
                    <h3 class="mb-0">Edit Doctor</h3>
                    <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i
                            class="feather-x-circle"></i></button>
                </div>
                <div class="modal-body">
                    <form action="doctor-list.html">
                        <div class="add-wrap">
                            <div class="form-group form-focus">
                                <input type="text" class="form-control floating" value="Dr. Rayan miller">
                                <label class="focus-label">Doctor Name <span class="text-danger">*</span></label>
                            </div>
                            <label class="mb-1">Doctor Image</label>
                            <div class="change-photo-btn">
                                <div><i class="feather-upload"></i>
                                    <p>Upload File</p>
                                </div>
                                <input type="file" class="upload">
                                <span class="file-upload-text"></span>
                            </div>
                            <p class="file-name text-success">Successfully Product image.jpg uploaded <a href="#"
                                    class="text-danger"><i class="feather-x"></i></a></p>
                            <div class="form-group">
                                <select class="select">
                                    <option>Select Speciality</option>
                                    <option>Dentist</option>
                                    <option selected>Neurology</option>
                                </select>
                            </div>
                            <div class="form-group form-focus">
                                <input type="text" class="form-control floating" value="$330.00">
                                <label class="focus-label">Consultation Fees <span class="text-danger">*</span></label>
                            </div>
                            <div class="form-group form-focus">
                                <input type="text" class="form-control floating" value="Newyork, USA">
                                <label class="focus-label">Location <span class="text-danger">*</span></label>
                            </div>
                            <div class="form-group form-focus">
                                <input type="text" class="form-control floating" value="+1 5454 2154 4545">
                                <label class="focus-label">Phone <span class="text-danger">*</span></label>
                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary btn-save">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade contentmodal" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content doctor-profile">
                <div class="modal-header border-bottom-0 justify-content-end">
                    <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i
                            class="feather-x-circle"></i></button>
                </div>
                <div class="modal-body">
                    <div class="delete-wrap text-center">
                        <form action="doctor-list.html">
                            <div class="del-icon"><i class="feather-x-circle"></i></div>
                            <h2>Sure you Want to delete</h2>
                            <p>“Doctor”</p>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-success me-2">Yes</button>
                                <a href="#" class="btn btn-danger" data-bs-dismiss="modal">No</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
 <script src="/assets/js/doctorprofile.js"></script>
{{>footer}}